.description__text {
    font-family: 'Merriweather', serif !important;
    font-size: 1em;
}

.description__container {
    padding: 0 0em 4em 4em;    
}

.description__text--second {
    padding-top: 2em;
}