.header__text {
    font-family: 'Merriweather', serif !important;
}

.header__container {
    padding: 6em 2em 4em 4em;    
}

.header__title {
    font-size: 2em;
}

.header__subtitle {
    font-size: 1em;
}