.link__text {
    font-family: 'Merriweather', serif !important;
    font-size: 1em;
    color: blue;
    text-decoration: none;
}

.link__text:hover {
    cursor: pointer;
    text-decoration: underline;
}